<div class="d-flex justify-content-between align-items-center mb-3 pb-2 border-bottom">
    <h2>ویرایش سطح دسترسی</h2>
</div>
<form class="form-horizontal" action="/admin/panel/categories/edit/<%= category._id %>?_method=put" method="post">

    <%- include(viewDir("layouts/showMessage")) -%>


    <div class="form-group row mb-3">
        <div class="col">
            <label for="name" class="control-label font-weight-bold mb-1">عنوان دسترسی</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="teacher"
                   value="<%= oldData('name', permission.name) %>" required>
        </div>
    </div>
    <div class="form-group row mb-3">
        <div class="col">
            <label for="label" class="control-label font-weight-bold mb-1">برچسب دسترسی</label>
            <input type="text" class="form-control" name="label" id="label"
                   value="<%= oldData('label', permission.label) %>" placeholder="مدرس" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-danger">ارسال</button>
        </div>
    </div>
</form>