<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-1 bg-dark text-white">
        <span>&copy; 2021 Copyright:</span>
        <a class="text-white" href="https://codding.ir/">codding.ir</a>
    </div>
</footer>