<link rel="stylesheet" href="/css/errors/highlight.css">


<h4><%= message %></h4>
<pre class="text-end">
    <code><%= stack %></code>
</pre>


<script src="/js/errors/highlight.min.js"></script>
<script>hljs.highlightAll();</script>