<div class="jumbotron">
    <h1>پنل کاربری</h1>
    <p>شما در اینجا میتوانید اطلاعات کاربری خود در وبسایت را ویرایش و یا مشاهده کنید</p>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link <%= requestURL === '/user/panel' ? 'active' : '' %>" href="/user/panel">اطلاعات کاربری</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= requestURL.includes('/user/panel/payments') ? 'active' : '' %>"
           href="/user/panel/payments">پرداخت های انجام شده</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <%= requestURL === '/user/panel/vip' ? 'active' : '' %>" href="/user/panel/vip">شارژ
            vip</a>
    </li>
</ul>